@charset "UTF-8";

h1 {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 840px;
}
table tr:nth-child(2n) {
  background-color: #eee;
}
table th,
table td {
  border: 1px solid #000;
}
tbody {
  text-align: center;
}
